.btn-main{
  width: 200px;
  cursor: pointer;
  margin-top: .2em;
  padding: .2em;
  background: #65B330;
  color: #fff;
  border: 0;
  box-shadow:1px 2px 4px 0px rgb(151, 152, 149);
  text-shadow: 0 -1px 1px rgb(151, 152, 149);
}
.front-page__button{
  margin: 0 auto;
}
.btn-icon{
  float: left;
  padding: 1em;
}
.btn-text{
  padding: 1em;
  font-weight: 900;
  color: #fff;
}
.btn-link{

}
.cart button{
  float: right;
}

button{
  cursor: pointer;
  margin-top: .2em;
  padding: .5em;
  background: #65B330;
  color: #fff;
  border: 0;
  box-shadow:5px 2px 4px 0px rgb(151, 152, 149);
  text-shadow: 0 -1px 1px rgb(151, 152, 149);
  border-radius: .4em;
}
button:hover{
  top: 5px;
  left: 5px;
  box-shadow:1px 2px 4px 0px rgb(151, 152, 149);

}
button::after{
  clear: both;
}

@media (max-width: 800px) {
  .btn-main{
    left: 30%;
  }
}
