/*SITE MAIN CONTENT*/
.main-content{
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 3em 6em;
}
.main-content__column__inner{
  width: 50%;
  float: left;
}
.main-content__column__inner-top{
  margin-top: 2.7em;
}
.main-content__column__inner-middle-right{
  margin-top: 8em;
}
.main-content__column-img-middle{
  margin-top: 8em;
}
.main-content__column__inner h3{
  color: #59b307;
  font-size: 2.2em;
  font-style: italic;
  margin: 0;
  font-weight: 400;
}
.main-content__column__inner-left{

}
.main-content__column-img img{
  width: 30%;
}
.main-content__column-img-top img{
  right: 0;
  float: right;
}
.main-content__column-img-bottom img{
  float: left;
}
.main-content__column__inner-right{
  float: right;
}


/*SITE MAIN CONTENT MOBILE*/
@media (max-width: 1200px) {
  .main-content{
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: .8em .8em;
  }

}
