/*SITE FOOTER*/
.site-footer{
  width: 100%;
  background: #363839;
}
.site-footer__column-wrapper{
  width: 80%;
  margin: 0 auto;
}
.site-footer__column{
  width: 33%;;
  float: left;
}
.site-footer__column li, ul, a{
  list-style: none;
  padding: 0;
  color: #fff;
  text-decoration: none;
}
.site-footer__column li{
  padding-bottom: .8em;
}
.site-footer__column h3{
  color: #59b307;
  margin-bottom: .2em;
}
.footer__column-right ul{
  margin: 0em;
}
.footer__column-right li{
  float: left;
  padding-right: .4em;
  font-size: 3em;
}
.fa-facebook-square{
  color: #4267b2;
}
.fa-twitter-square{
color: #1da1f2;
}
.fa-google-plus-square{
color: #c03121;
}
