input[type=email]{
  padding: .5em;
}
.newsletter__form{
  width: fit-content;
  margin: 0 auto;
}
.newsletter__sub input{
  position: relative;
  font-style: italic;
}

@media (max-width: 800px) {
  .newsletter__sub input{
    left: 30%;
  }
.newsletter__form{
    margin-left:10%;
  }
}
input[type="text"], input[type="password"]{
  padding: .2em;

}
/* edit acc button */
.woocommerce-Button{
  float: right !important;
  margin: 1em !important;
  background: #65B330 !important;
  color: #fff !important;
  box-shadow:1px 2px 4px 0px rgb(151, 152, 149) !important;
  text-shadow: 0 -1px 1px rgb(151, 152, 149) !important;
  transition: all ease 100ms;
  top: 0;
  left: 0;
}
.woocommerce-Button:hover{
  top: -10px;
  left: -20px;
  box-shadow:11px 6px 4px 0px rgb(151, 152, 149) !important;
}
.coupon input {
  width: 100% !important;
  padding: .5em;
}
.wc-forward{
  float: right;
}
.wcppec-checkout-buttons__separator{
  display: none;
}
