
/*HEADER CSS*/
.site-header{
  width: 100%;
  position: fixed;
  display: block;
  background-color: rgba(101,179,48, .55);
  padding: 1.2em 3.7em;
  z-index: 2;
}
.wrapper{
  overflow: hidden;
}
.site-header__logo{
  padding: .8em;
  left: auto;
  transform: translateX(0);
  transform-origin: 50% 0;
  top: 0;
  position: absolute;
  background: #59b307;
  width: auto;
  opacity: 1;
}
.site-header__logo__graphic__svg{
  width: 100%;
}
.site-header__menu-icon{
  display: none;
}
.site-header__menu-content{
  opacity: 1;
  z-index: 1;
  padding-top: 0;
  transform-scale(1);
  text-align: center;
  position: relative;
}
.primary-nav--pull-right{
  float: right;
}
.primary-nav{
  padding-top: 0;
}
.primary-nav ul{
  margin: 0;
  padding: 0;
}
.primary-nav li{
  padding-right: 2.2em;
  float: left;
  display: block;
  list-style: none;
  font-weight: bold;
}
.primary-nav a{
    color: #ffffff;
    text-decoration: none;
}



/*SLIDER HEADER INDEX*/
  .large-header{
    width: 100%;
    border-bottom: 15px solid #59B307;
    position: relative;

  }
  .large-header__image{
    width: 100%;
  }
  .large-header__title{
    font-size: 2.5rem;
    width: 26rem;
    margin: 0 auto;
    font-weight: 400;
  }
  .large-header__description{
    margin: 0 auto;
    width: 26rem;
    text-align: right;
  }
  .large-header__text-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }
