.frontpage__tutor-box{
  padding: 4em 1em;
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
}
.frontpage__tutor-box__tutor{
  width: 33%;
  padding: 3em;
  float: left;
}
.frontpage__tutor-box__img img{
  border-radius: 3em;
}
.frontpage__tutor-box__img{
  margin: 0 auto;
  width: fit-content;
}

.frontpage__tutor-box__content h3{
  text-align: center;
  margin: 1em 0;
}
.frontpage__tutor-box__title{
  font-size: 3em;
  text-align: center;
  margin: 0 0 1em;
}
.frontpage__tutor-box p{
  font-size: 1.2em;
}

@media (max-width: 800px){
  .frontpage__tutor-box__tutor{
    float: none;
    width: 100%;
    padding: .6em;
  }
  .frontpage__tutor-box__title{
    font-size: 1.5em;
  }
  .frontpage__tutor-box{
    padding: .5em 0 0;
  }
}
