.frontpage__tutor-box{
  padding: 2em;
  margin: 3em 0;
  position: relative;
  width: 100%;
  height: auto;
}
.frontpage__tutor-box__tutor{
  width: 33%;
  padding: 3em;
  float: left;
}
.frontpage__tutor-box__img img{
  border-radius: 3em;
}
.frontpage__tutor-box__img{
  margin: 0 auto;
  width: fit-content;
}

.frontpage__tutor-box__content h3{
  text-align: center;
  margin: 1em 0;
}
.frontpage__tutor-box__title{
  font-size: 2.5em;
  text-align: center;
}
.frontpage__tutor-box p{
  font-size: 1.2em;
}
