.event-calendar{
  max-width: 335px;;
  float: right;
}
.calendar-content {
  border: 1px solid #d2d2d2;
}
.calendar-content td{
  padding: .5em .8em;
  border: 1px solid #d8d8d9;
  text-align: center;
  cursor: pointer;
}
.calendar-content th{
  padding: .2em;
}
.calendar-header{
  background: #59b307;
  padding: 1em;
  color: #fff;
  font-weight: 900;
}
.calendar-header span{
}
.calendar__month{
  float: left;
}
.calendar__year{
  float: right;
}
.calendar-content td:hover{
  background: rgba(89,179,7, .75);
  color: #fff;
}
.active-day{
  background: rgba(89,179,7, .75);
  color: #fff;
  font-weight: 900;
}
