
/*
Main-Colors:
#1 Green: rgb: rgba(101,179,48, x)
          hex: #65B330
#2 Green: hex: #4eb50f
#1 Blue:  hex: #1b94b9

#1 Grey:  hex: #445362
#2 Grey:  hex: #212830

background-grey: #f2f2f2

 */

/*GLOBAL CSS*/
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2;
}
body{
  margin: 0;
  background: #F2F2F2;
}
p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.clearfix{
clear: both;
display: block;
visibility: hidden;
height: 0px;
}

h1{
  color: #65B330;
}
hr{
  border-color: #ffffff80;
  border: 2px;
}
