/*GLOBAL CSS*/
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  background: #F2F2F2;
}
p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.clearfix{
clear: both;
display: block;
visibility: hidden;
height: 0px;
}

h1{
  color: #65B330;
}
hr{
  border-color: #ffffff80;
  border: 2px;
}
